
.projecttitle{
  height: 100px;
  padding: 2px 0 4px 0;
  margin: 0 0 -10px 0;

  background: white;
  color:white;

}

.projcontent{
  display: none;
  transition: 0.2s linear;
  opacity: 1;
  height: 200px;

}
.projecttitle:hover{
  background: #bababa;
  color:white;
}

.projecttitle:nth-child(2n){
  background: #f2f2f2;

  color:white;
}
.projecttitle:nth-child(2n):hover{
  background: #bababa;
  color:white;
}
